.doctors-container {
  text-align: center;
}

.doctors-description {
  color: #6b7280;
}

.doctors-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1.25rem;
}

.filter-button {
  padding: 0.25rem 0.75rem;
  border: 1px solid #000;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  transition: all 0.3s;
}

.filter-button.active {
  background-color: #3b82f6;
  color: #fff;
}

.specialities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #6b7280;
  height: 300px;
  overflow-y: auto;
}

.specialities.show {
  display: flex;
}

.specialities.hide {
  display: none;
}

.speciality-item {
  width: 94vw;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  cursor: pointer;
}

.speciality-item.active {
  background-color: #e0f2fe;
  color: #000;
}

.doctors-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 1.5rem;
}

@media (min-width: 640px) {
  .doctors-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .doctors-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.doctor-card {
  border: 1px solid #bfdbfe;
  border-radius: 0.75rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s;
}

.doctor-card:hover {
  transform: translateY(-10px);
}

.doctor-image {
  background-color: #ebf8ff;
  width: 100%;
}

.doctor-info {
  padding: 1rem;
}

.availability {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.availability.available {
  color: #22c55e;
}

.availability.unavailable {
  color: #6b7280;
}

.availability-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.availability-dot.dot-green {
  background-color: #22c55e;
}

.availability-dot.dot-red {
  background-color: #ef4444;
}

.doctor-name {
  color: #111827;
  font-size: 1.125rem;
  font-weight: 500;
}

.doctor-speciality {
  color: #6b7280;
  font-size: 0.875rem;
}
